* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.cima {
    margin-top: 32px;
}

.header {
    width: 87px;
    height: 20px;
    margin-top: 47px;
    margin-left: 42px;
    gap: 32px;
    font-weight: 400;
    font-size: 14px;
}

.botao {
    width: 124px;
    height: 51px;
    margin-left: 40px;
    font-weight: 500;
    font-size: 16px;
    background-color: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
}

.botao:hover {
    opacity: 0.8;
}

.botao:active {
    opacity: 0.6;
}

.ip {
    display: inline-block;
    width: 595px;
    height: 500px;
    left: 121px;
    margin-top: 163px;
    margin-left: 121px;

}

.container {
    margin-top: 250px;
    display: inline-block;
    margin-left: 84px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    width: 582px;
    height: 164px;
    color: #161A49;
}

p {
    width: 493px;
    height: 99px;
    margin-top: 47px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
    margin-bottom: 55px;
}

.link {
    width: 112px;
    height: 27px;
    color: #6FBF44;
    font-weight: 500;
    font-size: 18px
}

a {
    cursor: pointer;
}

a:hover {
    opacity: 0.8;
}

a:active {
    opacity: 0.6;
}
.pai {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

 
@media (max-width: 920px){
      .pai {
    flex-direction: column;
  }

  .container {
    margin-top: 0px;
    order: 1;
  }

  .ip {
    order: 2;
    margin-top: 20px;
  }
  .header{
    display: none;
  }
  h1{
    width: 278px;
    height: 60px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: -75px;
  }
  img{
    width: 312px;
    height: 288px;   
    margin-left: -75px; 
  }
  p{
    width: 304px; 
    height: 165px;
    text-align: center;
    line-height: 33px;
    margin-left: -75px;
  }
  .link{
    margin-left: 1px;   
    margin-left: -75px;
  }
}